<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/blog/add" method="post">

    {% csrf_token %}
    用户名888：<input type="text" name="username"/>
    年龄：<input type="text" name="age">
    <input type="submit" value="添加">
</form>

<div>
    {% for p in peoples %}
        <div>{{ p.username }}|{{ p.age }}</div>
    {% endfor %}
    <span>
        {% if peoples.has_previous %}
            <a href="?page={{ peoples.previous_page_number }}">previous</a>
        {% endif %}

        <span>
            Page {{ peoples.number }} of {{ peoples.paginator.num_pages }}.
        </span>

        {% if peoples.has_next %}
            <a href="?page={{ peoples.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

</body>
</html>
